@font-face { font-family: "King"; 
		             src: url("King1.ttf"); }
		body { background: no-repeat url("menuBG.jpg"); background-size: cover; }
		h1 { font-family: "King"; text-align: center; color: yellow; font-size: 40pt; text-shadow: 22px 22px 10px black; }
		h1 a { font-size: 20pt; color: orange;}
		.box1 { width: 500px; 
			height: 100px; 
			font-family: "King"; 
			font-size: 40pt; 
			background: url(paper.jpg); 
			border: 4px double yellow;                                     
			text-align: center;
		}
		.butt {
			width: 150px;
			height: 75px;
			font-family: "King"; 
			font-size: 25pt;
			border: 4px double yellow;
			background: url(gold.jfif);
		}
		h2 { text-align: center; }
		h3 { position: relative bottom left; font-size: 30pt; font-family: "King"; color: rgba(255, 0, 0, 0); }